.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  height: 60px;
  background-color: rgb(195, 211, 231);
}

.main {
  display: flex;
  justify-content: space-evenly;
}

.list {
  background-color: #cecece;
  margin: 20px;
  padding: 20px;
  min-height: 400px;
}

/* .list ul {
  min-height: 200px;
  background-color: #cecece;
  color: black;
} */

.header h1 {
  margin: 0;
  text-align: center;
}

.footer {
  height: 60px;
  background-color: rgb(195, 211, 231);
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}